.brick .side-top {
    background: url('../textures/brick.png');
}

.brick .side-1 {
    background: url('../textures/brick.png');
}

.brick .side-2 {
    background: url('../textures/brick.png');
}

.brick .side-3 {
    background: url('../textures/brick.png');
}

.brick .side-4 {
    background: url('../textures/brick.png');
}

