.dirt .side-top {
    background: url('../textures/dirt.png');
}

.dirt .side-1 {
    background: url('../textures/dirt.png');
}

.dirt .side-2 {
    background: url('../textures/dirt.png');
}

.dirt .side-3 {
    background: url('../textures/dirt.png');
}

.dirt .side-4 {
    background: url('../textures/dirt.png');
}

