.grass .side-top {
    background: url('../textures/grass.png');
}

.grass .side-1 {
    background: url('../textures/grass_side.png');
}

.grass .side-2 {
    background: url('../textures/grass_side.png');
}

.grass .side-3 {
    background: url('../textures/grass_side.png');
}

.grass .side-4 {
    background: url('../textures/grass_side.png');
}

